.App {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;
    padding: auto 5%;
  background-color: rgb(252, 223, 223);
    margin-bottom: 10vh;
    
}

